# Created by .ignore support plugin (hsz.mobi)
.idea
build
.gradle
/src/main/resources/cascade/cascade-man2.xml
/src/main/resources/cascade/cascade_automobile25.xml
/src/main/resources/app.properties
/gradle/wrapper/
/gradle/
